* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.zcButton {
    cursor: pointer;
    background: var(--tmd-element, white);
    color: var(--tmd-text, black);
    border: 2px solid var(--tmd-accent, black);
    border-radius: 4px;
}

.zcButton:hover {
    background: var(--tmd-element-hover, #ebf7fe);
    border-color: var(--tmd-accent-hover, #7dd3fc);
    color: var(--tmd-accent-hover, #015a8c);
}

.zcButton .tooltip {
    position: absolute;
    color: black;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    background: #FFFF88;
    border: 2px solid #e7e787;
    width: max-content;
    visibility: hidden;
    z-index: 10;
}

.zcButton .tooltip[position=left] {
    right: calc(100% + 1vw);
}

.zcButton .tooltip[position=right] {
    left: calc(100% + 1vw);
}

.zcButton:hover .tooltip {
    visibility: visible;
}

.zcButton[data-zc-style="green"] {
    background: rgb(124, 255, 124);
    border-color: rgb(82, 204, 82);
    color: black;
}

.zcButton[data-zc-style="green"]:hover {
    background: rgb(94, 197, 94);
    color: black;
}

.zcButton[data-zc-style="inverted"] {
    background: var(--tmd-accent, #303030);
    border: none;
    color: var(--tmd-text, white);
}

.zcButton[data-zc-style="inverted"]:hover {
    background: var(--tmd-accent-hover, #474747);
}

.zcInput {
    background: var(--tmd-element, white);
    color: var(--tmd-text, black);
    padding: 2vw;
    border: 2px solid var(--tmd-accent, black);
    border-radius: 4px;
}

.zcInput::placeholder {
    color: var(--tmd-text, black);
}

.zcBackNextButton {
    display: flex;
    column-gap: 2vw;
    justify-content: center;
    align-items: center;
    background: var(--tmd-element, white);
    color: var(--tmd-text, black);
    border: 2px solid var(--tmd-accent, black);
    border-radius: 4px;
}

.zcBackNextButton-btnDisabled {
    background: #ffa590;
    pointer-events: none;
}

.zcTabs {
    display: flex;
}

.zcTabs button {
    cursor: pointer;
    width: 100%;
    color: var(--tmd-text, black);
    background: none;
    border: none;
    border-bottom: 2px solid var(--tmd-element, rgb(214, 214, 214));
    padding: 0.25em;
}

.zcTabs button[data-opened=true] {
    font-weight: bold;
    border-bottom: 2px solid var(--tmd-accent, rgb(81, 81, 231)) !important;
}

.zcTabs button:hover {
    background: var(--tmd-element, rgb(235, 235, 235));
    border-bottom: 2px solid var(--tmd-element-hover, rgb(149, 149, 149));
}

.zcCard {
    border: 2px solid var(--tmd-accent, rgb(195, 195, 195));
    border-radius: 0.4em;
    background: var(--tmd-element, white);
    color: var(--tmd-text, black);
    padding: 0.4em 2.5em 0.4em 0.4em;
}

.zcCard:hover {
    border: 2px solid var(--tmd-accent-hover, rgb(170, 170, 170));
}

.zcCard_name {
    font-size: 0.5em;
    color: var(--tmd-text, rgb(100, 100, 100));
}

.zcCard_value {
    color: var(--tmd-text, black);
    margin-top: 0.4em;
    font-weight: bold;
}

.zcSelect {
    cursor: pointer;
    background: var(--tmd-element, white);
    color: var(--tmd-text, black);
    border: 2px solid var(--tmd-accent, rgb(195, 195, 195));
    border-radius: 0.4em;
    padding: 0.45em;
    z-index: 10;
}

.zcSelect[opened="true"] {
    border-color: var(--tmd-accent-hover, rgb(0, 96, 223));
}

.zcSelect[opened="false"]:hover {
    border-color: var(--tmd-accent-hover, rgb(170, 170, 170));
}

.zcSelect>svg {
    position: absolute;
    right: 0.45em;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5em;
    height: 1.5em;
    color: var(--tmd-accent, rgb(0, 96, 223));
}

.zcSelect>div[data-zc-position="bottom"] {
    position: absolute;
    top: calc(100% + 0.45em);
    left: 0;
    width: 100%;
    background: var(--tmd-element, #f6f6f6);
    border: 2px solid var(--tmd-element-hover, rgb(235 235 235));
    border-radius: 0.4em;
}

.zcSelect>div[data-zc-position="top"] {
    position: absolute;
    bottom: calc(100% + 0.45em);
    left: 0;
    width: 100%;
    background: var(--tmd-element, #f6f6f6ed);
    border: 2px solid var(--tmd-element-hover, rgb(235 235 235));
    border-radius: 0.4em;
}

.zcSelect>div>div {
    color: var(--tmd-text, black);
    width: 100%;
    padding: 0.45em;
    border-radius: 0.25em;
}

.zcSelect>div>div>svg {
    width: 1.25em;
    height: 1.25em;
    color: var(--tmd-accent, rgb(0, 96, 223));
}

.zcSelect>div>div:hover {
    background: var(--tmd-element-hover, #ededed);
}

.zcToastsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.25vw;
    cursor: pointer;
    position: fixed;
    z-index: 30;
}

@keyframes zcToast-progress {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes zcSlideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zcSlideOutToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.zcToast {
    max-width: 25vw;
    animation: zcSlideInFromLeft 0.3s ease-out forwards;
    border-radius: 4px;
}

.zcToast.exiting {
    animation: zcSlideOutToLeft 0.3s ease-out forwards;
}

.zcToast p {
    color: white;
}

.zcDialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(57, 64, 77);
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
    border-radius: 4px;
    min-width: 200px;
    max-width: 450px;
    width: 90%;
    z-index: 25;
    pointer-events: all !important;
    box-shadow: 0px 0px 6px 1px #0000006e;
}

.zcDialog>p {
    padding: 0.75em 0px;
    user-select: none;
    width: 90%;
    color: white;
}

.zcDialog>input:focus {
    outline: 2px solid rgb(0, 238, 255);
}

.zcDialog>div>button {
    cursor: pointer;
    padding: 6px 14px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.zcDialog>div>button:first-child {
    background: rgba(73, 82, 99, 1);
    color: white;
}

.zcDialog>div>button:first-child:hover {
    background: rgb(86, 94, 108);
}

.zcDialog>div>button:last-child {
    background: #00eeffff;
}

.zcDialog>div>button:last-child:hover {
    background: rgb(4, 203, 217);
}

@keyframes zcSpin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes zcCursorBlink {
    from {
        border-right-color: transparent;
    }

    to {
        border-right-color: rgb(42, 42, 42);
    }
}

.zcCursor {
    border-right: 2px solid var(--tmd-text, rgb(42, 42, 42));
    width: fit-content;
    /* animation: zcCursorBlink 0.1s linear infinite; */
}

.zcDisabled {
    pointer-events: none;
    opacity: 0.6;
}